@import "bootstrap-variables";
@import "../vendor/css/_bootstrap";

.navbar {
  .brand img {
    height: 1.428em;
  }

  .navbar-nav > li > a {
    color: $first-fg;
  }

  .navbar-btn a {
    @include box-shadow(0px 2px 0px $darken-main);
  }
}

h2 {
  padding-bottom: 1em;
}

.cta {
  text-transform: uppercase;
  @include box-shadow(0px 9px 0px $darken-main);
  font-size: 1.8em;
  padding: .5em 1.5em;

  &:active {
    @include box-shadow(0px 9px 0px $darken-main);
  }
}

.heading {
  color: $first-fg;
  background-color: $first-bg;

  .hero-image {
    background-image: url('../img/frame.png');
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .clarity-note {
    padding: 2em 2em 3em;
  }
}

.benefits {
  padding-top: 2em;

  h2 {
    padding-bottom: 0;
  }

  header {
    padding-bottom: .5em;
  }

  .row {
    padding: 3.5em;
  }

  .illustration {
    img {
      height: 200px;
    }
  }

  .description {
    p {
      font-size: 1.15em;
    }
  }

  .productivity .description {
    padding-top: 3em;
  }

  .frameworks .description {
    padding-top: 1.7em;
  }

  .deployment .description {
    padding-top: 1.5em;
  }
}

.last-call {
  h2 {
    padding-bottom: 1em;
  }
}

footer {
  margin-top: 4em;
  padding: 2em;
  background-color: #35384C;
  color: #fff;

  li {
    list-style-type: none;

    a {
      color: #fff;
    }
  }
}

.pricing {
  .plan {
    background-color: #35384C;
    padding: 1em;
    color: #fff;

    .price {
      span {
        font-size: 3em;
      }
    }
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}
