doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap Grid Template
    link(href='css/app.css', rel='stylesheet')

    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      .navbar.navbar-default
        .container
            .navbar-header
              a.navbar-brand.brand(href='/apps')
                img(src='img/logo.png')
              button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#') Pricing
                li
                  a(href='#') Log In
                li
                  p.navbar-text or
                li
                  button.btn.btn-primary.navbar-btn(type='button') Sign Up

      .row.heading
        h1.text-center Supercharge Your Development Process
        h2.text-center Launch the New Era of Static Web Apps
        .hero-image

        .clarity-note.text-center
          p.lead Ecosystem for the <b>fastest development process ever</b>.
          button.btn.btn-lg.btn-primary.cta Sign up free

      .benefits
        header
          h2.text-center Get More By Doing Less
          h3.text-center Leave Gulp, Grunt and package.json to Us

        .row.productivity
          .col-md-offset-2.col-md-4.illustration.text-right
            img(src='img/robot.png')
          .col-md-6.description
            h3 Productivity boost
            p
              | Forget ALL configuration.
              |  NPM installs dependencies upon require while Jade,
              |  CoffeeScript and SCSS work without setup.

        .row.frameworks
          .col-md-offset-2.col-md-4.description.text-right
            h3 Freedom For Any Framework
            p
              | Use any Javascript framework without thinking about setup or
              |  searching for a boilerplate.
          .col-md-6.illustration.text-left
            img(src='img/frameworks.png')

        .row.deployment
          .col-md-offset-2.col-md-4.illustration.text-right
            img(src='img/spaceship.png')
          .col-md-6.description
            h3 Easy-going Web App Launch
            p
              | Deployment is as easy as pushing your code to Github.
              |  Pushing your code is as easy as a single command.

      .row.text-center
        h2 Launch Your App Months Before the Deadline
        button.btn.btn-lg.btn-primary.cta Sign up free

    footer.more-links
      .row
        .col-md-offset-1.col-md-3
          ul
            li
              a(href='#') Support
            li
              a(href='#') Blog
            li
              a(href='#') Twitter
            li
              a(href='#') Contact Us
        .col-md-3
          h4 We're located in
          p Šaltinių g. 1-28, Vilnius, Lithuania
