extends ./layout

block heading
  .row
    h1.text-center Supercharge Your Development Process
    h2.text-center Launch the New Era of Static Web Apps
    .hero-image

    .clarity-note.text-center
      p.lead Ecosystem for the <b>fastest development process ever</b>.
      a.btn.btn-lg.btn-primary.cta(href='http://app.closeheat.com/users/sign_up') Sign up free

block content
  .benefits
    .container
      header
        h2.text-center Get More By Doing Less
        h3.text-center Leave Gulp, Grunt and package.json to Us

      .row.productivity
        .col-md-6.col-xs-6.illustration.text-right
          img(src='img/robot.png')
        .col-md-4.col-xs-6.description
          h3 Productivity boost
          p
            | Forget ALL configuration.
            |  NPM installs dependencies upon require while Jade,
            |  CoffeeScript and SCSS work without setup.

      .row.frameworks
        .col-md-offset-2.col-md-4.col-xs-6.description.text-right
          h3 Freedom For Any Framework
          p
            | Use any Javascript framework without thinking about setup or
            |  searching for a boilerplate.
        .col-md-4.col-xs-6.illustration
          img(src='img/frameworks.png')

      .row.deployment
        .col-md-6.col-xs-6.illustration.text-right
          img(src='img/spaceship.png')
        .col-md-4.col-xs-6.description
          h3 Easy-going Web App Launch
          p
            | Deployment is as easy as pushing your code to Github.
            |  Pushing your code is as easy as a single command.

      .last-call
        .row.text-center
          h2 Launch Your App Months Before the Deadline
          a.btn.btn-lg.btn-primary.cta(href='http://app.closeheat.com/users/sign_up') Sign up free
